

/***VIZ***/

#visualization {
  position: absolute;
  left: 0;
  width: 80%;
}

#node-attrs {
  position: absolute;
  right: 0;
  width: 18%;
  border: 1px solid;
}

.viz {
  display: block;
  margin: -10px auto 0;
}

.node {
  font: 300 9px Tahoma;
}

.link {
  stroke: #999;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 1px;
}

.link--source {
  stroke: #111;
}

.link--target {
  stroke: #111;
}